body {
  background-color: gainsboro;
}

.search-form {
  margin-top: 25px;
  text-align: center;
}
.search-form_input {
  width: 200px;
  height: 30px;
  padding-left: 12px;
  padding-bottom: 2px;
  border: transparent;
  border-radius: 5px;
  &:hover,
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 18px;
    color: darkslategray;
  }
}

.gallery {
  margin-top: 25px;
}
.button {
  width: 100px;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: darkseagreen;
  border: 2px solid gold;
  border-radius: 5px;
  color: black;
  &_box {
    text-align: center;
  }
}

.photos_box {
  text-align: center;
}
.photo-card {
  margin-bottom: 10px;
}
.img {
  margin-bottom: 10px;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
.stats {
  display: flex;
  justify-content: center;
  &-item {
    display: inline-flex;
    margin-right: 15px;
    align-items: center;
  }
  &-item-box {
    display: flex;
    align-items: center;
  }
}
.material-icons {
  margin-right: 8px;
}
